.loader-wrap{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(255,255,255,0.6);z-index:1}.loader-wrap img{position:absolute;top:50%;left:50%}.controls{text-align:center;margin:10px auto 25px}.canvas-container{margin:0 auto}
